<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Generating JSON File</title>
    <style media="screen">

    </style>
  </head>
  <body>
    <h1>Welcome Geeks</h1>
    <form action="/ajouter" method="post">
      <label for="name">Name</label><br>
      <input type="text" name="fullname" value=""><br>
      <label for="">Age</label><br>
      <input type="number" name="age" value="" ><br>
      <label for="">Country</label><br>
      <input type="text" name="country" value=""><br><br>
      <button type="submit">Ajouter</button>
    </form>
  </body>
</html>
